dev/html/templates/pagination.html

<nav class="navigation pagination">
  <div class="nav-links"><a class="first page-numbers" href="#"><span class="pag-first">
        <svg>
          <use xlink:href="#ic-first-page"></use>
        </svg></span></a><a class="prev page-numbers" href="#"><span class="pag-arrow-prev">
        <svg>
          <use xlink:href="#ic-arow-right"></use>
        </svg></span></a><span class="page-numbers current">1</span><a class="page-numbers" href="#">2</a><a class="page-numbers" href="#">3</a><a class="page-numbers" href="#">4</a><a class="next page-numbers" href="#"><span class="pag-arrow">
        <svg>
          <use xlink:href="#ic-arow-right"></use>
        </svg></span></a><a class="last page-numbers" href="#"><span class="pag-last">
        <svg>
          <use xlink:href="#ic-first-page"></use>
        </svg></span></a></div>
</nav>

dev/jade/templates/pagination.pug
nav.navigation.pagination
	.nav-links
		a.first.page-numbers(href='#')
			span.pag-first
				svg
					use(xlink:href='#ic-first-page')
		a.prev.page-numbers(href='#')
			span.pag-arrow-prev
				svg
					use(xlink:href='#ic-arow-right')
		span.page-numbers.current 1
		a.page-numbers(href='#') 2
		a.page-numbers(href='#') 3
		a.page-numbers(href='#') 4
		a.next.page-numbers(href='#')
			span.pag-arrow
				svg
					use(xlink:href='#ic-arow-right')
		a.last.page-numbers(href='#')
			span.pag-last
				svg
					use(xlink:href='#ic-first-page')
