dev/jade/templates/partners_header.pug
.parteners-header
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				img(src="img/brands/lenovo.png")
			.swiper-slide
				img(src="img/brands/toshiba.png")
			.swiper-slide
				img(src="img/brands/acer.png")
			.swiper-slide
				img(src="img/brands/sven.png")
			.swiper-slide
				img(src="img/brands/apc.png")
			.swiper-slide
				img(src="img/brands/ibm.png")
			.swiper-slide
				img(src="img/brands/dell1.png")
			.swiper-slide
				img(src="img/brands/mi.png")

dev/html/templates/partners_header.html

<div class="parteners-header">
  <div class="container-fluid">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="img/brands/lenovo.png"/></div>
        <div class="swiper-slide"><img src="img/brands/toshiba.png"/></div>
        <div class="swiper-slide"><img src="img/brands/acer.png"/></div>
        <div class="swiper-slide"><img src="img/brands/sven.png"/></div>
        <div class="swiper-slide"><img src="img/brands/apc.png"/></div>
        <div class="swiper-slide"><img src="img/brands/ibm.png"/></div>
        <div class="swiper-slide"><img src="img/brands/dell1.png"/></div>
        <div class="swiper-slide"><img src="img/brands/mi.png"/></div>
      </div>
    </div>
  </div>
</div>
